.table {
  background-color : white;
  margin: 5px;
}
.selectClient{
  width: 300px;
}
.foo {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.output-product-container {
  display: flex;
}
