
.btn-success {
  color: #fff;
  background-color: #2449b6;
  border-color: #2449b6;
  margin-top: 10px;
}
.label-modal {
  display: block;
}
.label-select {
  width: 100%;
}
.miclase {
  margin: 0!important;
}
.btn-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
