.label-modal {
  display: block;
}
.label-select {
 width: 100%;
}
.miclase {
  margin: 0!important;
}
.btn-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
